html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin:0;
    background: #f2f4f6;
}
.swagger-ui .topbar {
    background: #fff;
    padding: 15px 0;
}
.topbar-wrapper .link * {
    display: none;
}
.topbar-wrapper .link {
    width: 100px;
    height: 40px;
}
.topbar-wrapper .link:after {
    content: "";
    display: block;
    background: url(https://contattafiles.s3-us-west-1.amazonaws.com/tnt19836/busLCPhoBfaD_-N/SmartCash%20WebWLogo3.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.swagger-ui section.models {
    background: #ffffff40;
}
.swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 1px solid #ffc80b;
}

/*  */
.swagger-ui .opblock {margin: 10px 20px;}
.opblock-tag-section {background: #fff;margin: 10px 0;border-radius: 4px;border: 0;box-shadow: 0 3px 6px 0 rgba(53, 56, 61, 0.05);overflow:hidden}
.opblock-tag-section .opblock-tag {padding: 10px 20px 10px 40px;color: #354052;position:relative;border: 0;margin:0;background: #fbfbfb;}
.opblock-tag-section .opblock-tag:after {content:"";display:block;position:absolute;border-width:5px;border-style:solid;border-color: #354052 transparent transparent transparent;margin: auto;top: 6px;bottom: 0;height: 5px;left: 14px;}
.opblock-tag-section.is-open .opblock-tag {box-shadow: 0 1px 1px 0 rgba(53, 56, 61, 0.1);}
.opblock-tag-section.is-open .opblock-tag:after {border-color: transparent transparent #354052 transparent;top:0px;}


.swagger-container .swagger-ui {
    max-width: 990px;
    margin: 0 auto;
    width: 90%;
}
/*  */
.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #ffc80b;
}
.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #ffc80b;
}
.swagger-ui .opblock.opblock-get {
    border-color: #ffc80b;
    background: rgba(255, 200, 11, 0.10);
}

.swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: #7f8fa4;
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #7f8fa4;
}
.swagger-ui .opblock.opblock-post {
    border-color: #7f8fa4;
    background: rgba(126, 142, 164, .1);
}